@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

.header {
    padding: 20px 40px;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 36px;
    background-color: #7FC7D9;
    color: #0F1035;
    border-radius: 0px 0px 10px 10px;
}