/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap'); */

.weatherCard {
    margin: 40px 40px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    font-family: 'Nunito Sans';
    background-color: #E9F6FF;
    color: #0F1035;
}

.weatherCardComponent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputContainer {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.inputContainer input {
    background: none;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid;
}

.inputContainer button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #7FC7D9;
}

.city {
    font-size: 36px;
}

.date {
    font-size: 18px;
}

.temperature {
    font-size: 48px;
}

.ImgAndTempContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .weatherCard {
        flex-direction: column;
        row-gap: 20px;
    }

    .weatherCardComponent {
        align-items: center;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}